@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-color: #990099;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: var(--main-color);
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: var(--main-color);
    background-color: transparent;
    border: 2px solid var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    color: #fff;
}

.cta:hover {
    background-color: var(--main-color);
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.brand h1 span {
    color: var(--main-color);
    font-weight: 700;
}

/* Header Section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    width: 100%;
    min-height: 10vh;
    position: relative;
    z-index: 1;
}

#header .header:after {
    content: "";
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.header .nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    z-index: 1;
    transition: .3s ease color;
}

#header .nav-list ul a:after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 15rem;
    letter-spacing: 3rem;
    z-index: -1;
    color: var(--main-color);
    opacity: 0.5;
    transition: 0.3s ease letter-spacing;
    transition: 0.5s ease transform;
}

#header .nav-list ul li:hover a:after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: 1rem;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    transform: scale(0.8);
}

#header .hamburger::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    animation: hamburger_pulse 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #fff;
    z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #fff;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    bottom: 8px;
}

#header .hamburger .bar::before {
    top: 8px;
}

#header .hamburger.active .bar::before {
    top: 0;
}

#header .hamburger.active .bar::after {
    bottom: 0;
}
/* End Header Section */

/* Hero Section */
#hero {
    background-image: url(./img/hero-bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
}

#hero .hero {
    min-height: 100vh;
    margin: 0 auto;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--main-color);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}
/* End Hero Section */

/* Services Section */
#services .services {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}

#services .service-heading p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

#services .service-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#services .service-item {
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-image: url(img/service-img.jpg);
    background-size: cover;
    margin: 10px 0;
    padding: 30px;
    position: relative;
}

#services .service-item .icon img {
    height: 50%;
    width: 50%;
    margin-bottom: 20px;
}

#services .service-item .title,
#services .service-item .content {
    color: #fff;
    text-align: left;
}

#services .service-item .title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#services .service-item .content {
    font-size: 1.4rem;
    line-height: 1.9rem;
}

/* End Services Section */

/* Projects Section */
#projects .projects {
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 100px;
}

#projects .projects-heading h1 {
    margin-bottom: 50px;
}

#projects .projects-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(35, 0, 54, 1) 0%, rgba(121, 3, 104, 1) 51%, rgba(154, 1, 132, 1) 89%);
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;

    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
}

#projects .project-info p {
    font-size: 1.2rem;
}

#projects .project-img {
    width: 100%;
    flex-basis: 50%;
    height: 100%;
    overflow: hidden;
}

#projects .project-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

#projects .project-img img {
    transition: 0.3s ease transform;
}

#projects .project-item .project-img img {
    transform: scale(1.1);
}

#projects .project-item:hover .project-img img {
    transform: scale(1.3);
}

/* End Projects Section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 100px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h3 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}
#about .col-right .cta {
    color: #000;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 500;
}

#about .col-left .about-img img {
    height: 100%;
    width: 100%;
    border: 10px solid #fff;
}

#about .col-left .about-img {
    position: relative;
}

#about .col-left .about-img:after {
    content: "";
    position: absolute;
    top: 19px;
    left: -33px;
    height: 98%;
    width: 98%;
    border: 7px solid var(--main-color);
    z-index: -1;
}
/* End About Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto 100px;
}

#contact .contact-items {
    width: 100%;
}

#contact .contact-item {
    width: 80%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 18px #0000002c;
    flex-direction: column;
    transition: 0.3s ease box-shadow;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .icon img {
    width: 100%;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
}

#contact .contact-item:hover {
    box-shadow: 0 0 5px 0 #0000002c;
}

/* End Contact Section */

/* Footer */
#footer {
    background: linear-gradient(90deg, rgba(35, 0, 54, 1) 0%, rgba(121, 3, 104, 1) 51%, rgba(154, 1, 132, 1) 89%);
    color: #fff;
}

#footer .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 200px;
    padding: 30px 0 20px;
}

#footer h3 {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin: 10px 0;
    text-align: center;
}

#footer .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#footer .social-icon {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

#footer .social-icon img {
    width: 100%;
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-icon:hover img {
    filter: grayscale(0);
}

#footer .copyright {
    text-align: center;
    font-size: 1.4rem;
}
/* End Footer */

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: #fff;
    }
}

@keyframes hamburger_pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
/* End Keyframes */

/* Media Queries Tablet*/
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 5rem;
    }

    .container {
        width: 90%;
    }

    /* Hero Section */
    #hero h1 {
        font-size: 7rem;
    }
    /* End Hero Section */

    /* Services Section */
    #services .service-item {
        flex-basis: 43%;
        height: 300px;
        margin: 20px;
    }

    #services .service-item .icon img {
        height: 70%;
        width: 70%;
    }
    /* End Services Section */

    /* Projects Section */
    #projects .projects {
        width: 100%;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .project-item {
        flex-direction: row;
        border-radius: 0;
        margin: 0;
    }

    #projects .project-img img {
        object-fit: none;
    }
    /* End Projects Section */

    /* About Section */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: auto;
        height: auto;
    }

    #about .col-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 30px;
    }

    #about .col-right h3 {
        font-size: 2.4rem;
    }

    #about .col-right p {
        text-align: left;
        width: 100%;
    }
    /* End About Section */

    /* Contact Section */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    #contact .contact-items {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    #contact .contact-item {
        flex-basis: 30%;
        margin: 0 20px;
        height: 250px;
        padding: initial;
    }
    /* End Contact Section */
}
/* End Media Queries Tablet*/

/* Media Queries Desktop */
@media only screen and (min-width: 1200px) {
    .container {
        width: 98%;
    }

    /* Header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        height: initial;
        width: initial;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        background-image: none;
    }

    #header .nav-list ul li:hover a:after {
        transform: translate(-50%, -50%) scale(0);
    }

    #header .nav-list li:hover a {
        color: var(--main-color);
    }
    /* End Header */

    /* Hero Section */
    #hero .hero {
        width: 90%;
    }
    /* End Hero Section */

    /* Services Section */
    #services .service-content {
        flex-direction: row;
    }

    #services .service-item {
        flex-basis: 23%;
        margin: 10px;
        height: 400px;
        justify-content: flex-start;
        padding-top: 50px;
    }

    #services .service-heading p {
        margin: 0 auto;
        width: 60%;
    }

    #services .service-item .title {
        height: 50px;
    }
    /* End Services Section */
}
/* End Media Queries Desktop */
